<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
    <meta charset="UTF-8">
    <title>button</title>
    <% include ../block/head.html %>
</head>

<body>
    <div class="demo-btn">
        <a href="javascript:;" class="btn -default -block -large">按钮</a>
        <a href="javascript:;" class="btn -primary -block -large">按钮</a>
        <a href="javascript:;" class="btn -success -block -large">按钮</a>
        <a href="javascript:;" class="btn -warn -block -large">按钮</a>
        <a href="javascript:;" class="btn -danger -block -large">按钮</a>

        <a href="javascript:;" class="btn -default -rounded">按钮</a>
        <a href="javascript:;" class="btn -primary -rounded">按钮</a>
        <a href="javascript:;" class="btn -success -rounded">按钮</a>
        <a href="javascript:;" class="btn -warn -rounded">按钮</a>
        <a href="javascript:;" class="btn -danger -rounded">按钮</a>

        <a href="javascript:;" class="btn-ghost -default -block -large">按钮</a>
        <a href="javascript:;" class="btn-ghost -primary -block -large">按钮</a>
        <a href="javascript:;" class="btn-ghost -success -block -large">按钮</a>
        <a href="javascript:;" class="btn-ghost -warn -block -large">按钮</a>
        <a href="javascript:;" class="btn-ghost -danger -block -large">按钮</a>

        <a href="javascript:;" class="btn-ghost -default -rounded">按钮</a>
        <a href="javascript:;" class="btn-ghost -primary -rounded">按钮</a>
        <a href="javascript:;" class="btn-ghost -success -rounded">按钮</a>
        <a href="javascript:;" class="btn-ghost -warn -rounded">按钮</a>
        <a href="javascript:;" class="btn-ghost -danger -rounded">按钮</a>
    </div>

    <% include ../block/foot.html %>
</body>

</html>