<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <% include ../block/head.html %>
</head>

<body>
    <div>111</div>
    <!-- 首页导航start -->
    <div class="navbar-wrap">
        <div class="navbar navbar-transparent navbar-scroll">
            <div class="navbar-left">
                <div class="navbar-select">
                    <span>湖北</span>
                    <i class="icon-triangle-down"></i>
                </div>
            </div>
            <div class="navbar-searchbar">
                <i class="icon-search"></i>
                <a href="javascript:;">20元享20GB流量</a>
            </div>
            <div class="navbar-right">
                <a href="javascript:;">登录</a>
            </div>
        </div>
    </div>
    <!-- 首页导航end -->
    <!-- swiper start -->
    <div class="swiper-container index-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../img/01/pic_banner.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="../img/01/pic_banner.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="../img/01/pic_banner.jpg" />
            </div>
        </div>

        <div class="swiper-pagination"></div>

    </div>
    <!-- swiper end -->

    <div class="Grid space">
        <a href="#" class="Cell -3of12">

            <img src="../img/01/icon_phonefare.png" class="grid-icon">
            <p class="grid-label">交话费</p>
        </a>
        <a href="#" class="Cell -3of12">

            <img src="../img/01/icon_phoneflow.png" class="grid-icon">
            <p class="grid-label">玩流量</p>
        </a>
        <a href="#" class="Cell -3of12">

            <img src="../img/01/icon_business.png" class="grid-icon">
            <p class="grid-label">办业务</p>
        </a>
        <a href="#" class="Cell -3of12">

            <img src="../img/01/icon_myphone.png" class="grid-icon">
            <p class="grid-label">我的移动</p>
        </a>
        <a href="#" class="Cell -3of12">

            <img src="../img/01/icon_wifiindex.png" class="grid-icon">
            <p class="grid-label">享宽带</p>
        </a>
        <a href="#" class="Cell -3of12">

            <img src="../img/01/icon_buyphone.png" class="grid-icon">
            <p class="grid-label">买手机</p>
        </a>
        <a href="#" class="Cell -3of12">

            <img src="../img/01/icon_selectcard.png" class="grid-icon">
            <p class="grid-label">选号卡</p>
        </a>
        <a href="#" class="Cell -3of12">

            <img src="../img/01/icon_more.png" class="grid-icon">
            <p class="grid-label">更多</p>
        </a>

    </div>
    <div class="news">
        <img src="../img/01/pic_poto.png" class="news-icon" />
        <ul>
            <li>
                <a href="#">【福利】20元包月6GB，春节流量特惠包</a>
            </li>
            <li>
                <a href="#">【福利】20元包月6GB，春节流量特惠包特惠包</a>
            </li>
        </ul>

    </div>
    <div class="userFloor">
        <h3 class="userFloor-title">早上好，15002735378</h3>
        <ul class="userFloor-bd">
            <li>
                <div class="userFloor-bd-left">
                    <h3 class="title">流量剩余</h3>
                    <div class="surplus-data">
                        <p>130
                            <span>MB</span>
                        </p>
                        <a href="#">充流量</a>
                    </div>

                </div>
            </li>
            <li>
                <div class="userFloor-bd-right">
                    <i class="fare-icon"></i>
                    <div class="fare-detail">
                        话费余额
                        <p>
                            <em>1346.23</em>元</p>
                    </div>
                </div>
                <div class="userFloor-bd-right">
                    <i class="converse-icon"></i>
                    <div class="fare-detail">
                        通话剩余
                        <p>
                            <em>30</em>分钟</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
<!--最近热推-->
    <div class="indexFloor">
        <header class="indexFloor-title">
            <h2 class="grident-b">最近热推</h2>
            <small>最新优惠活动不容错过</small>
        </header>
        <ul class="indexFloor-bd">
            <li>
                <a href="#">
                    <img src="../img/01/pic_adv1.jpg">
                    <h3>40GB省内流量</h3>
                    <small>至尊包奉上</small>
                </a>
            </li>
            <li >
                <a href="#">
                    <img src="../img/01/pic_adv2.jpg">
                    <h3>40GB省内流量</h3>
                    <small>至尊包奉上</small>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../img/01/pic_adv3.jpg">
                    <h3>40GB省内流量</h3>
                    <small>至尊包奉上</small>

                </a>
            </li>
        </ul>
    </div>
<!--流量专区-->
    <div class="indexFloor">
        <header class="indexFloor-title">
            <h2 class="grident-r">流量专区</h2>
        </header>
        <ul class="indexFloor-cr">
            <li>
                <div class="indexFloor-cell">
                    <div class="indexFloor-cell-left">
                        <h3>爆款流量大特惠</h3>
                        <small>低至1.5元1GB</small>
                    </div>
                    <img src="../img/01/pic_adv4.png" class="indexFloor-cell-right">
                </div>
            </li>
            <li>
                <div class="indexFloor-cell">
                    <div class="indexFloor-cell-left">
                        <h3>40GB超大流量</h3>
                        <small>流量多到用不完</small>
                    </div>
                    <img src="../img/01/pic_adv5.png" class="indexFloor-cell-right">
            </li>
        </ul>
        <ul class="indexFloor-bt">
            <li>
                <a href="#">
                    <h3>流量快餐包</h3>
                    <small>5.99元包1G</small>
                    <img src="../img/01/icon_p_09.jpg">
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>4G流量卡</h3>
                    <small>50元2个G</small>
                    <img src="../img/01/icon_p_06.jpg">
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>任我用</h3>
                    <small>流量随意用</small>
                    <img src="../img/01/icon_p_03.jpg">
                </a>
            </li>
        </ul>
        </div>
<!--宽带专区-->        
        <div class="indexFloor">
            <header class="indexFloor-title">
                <h2 class="grident-b">宽带专区</h2>
            </header>
            <div class="indexFloor-adv">
                <img src="../img/01/pic_wifiadvertise2.jpg">
            </div>
            <ul class="indexFloor-cr">
                <li>
                    <div class="indexFloor-cell">
                        <div class="indexFloor-cell-left">
                            <h3>宽带提速</h3>
                            <small>升移动光网</small>
                        </div>
                        <img src="../img/01/pic_wifiadvertise3.png" class="indexFloor-cell-right">
                    </div>

                </li>
                <li>
                    <div class="indexFloor-cell">
                        <div class="indexFloor-cell-left">
                            <h3>宽带新装</h3>
                            <small>畅享移动光宽带</small>
                        </div>
                        <img src="../img/01/pic_wifiadvertise2.png" class="indexFloor-cell-right">
                    </div>

                </li>
            </ul>
        </div>
<!--号卡专区-->        
        <div class="indexFloor">
            <header class="indexFloor-title">
                <h2 class="grident-y">号卡专区</h2>
            </header>

            <ul class="indexFloor-f">
                <li>
                    <h3 class="indexFloor-f-title">今日推荐
                        <a href="#">换一批</a>
                    </h3>
                    <div class="indexFloor-f-list">
                        <a href="javascript:;">188
                            <em>7221</em>1887</a>
                        <a href="javascript:;">188
                            <em>7221</em>1887</a>
                        <a href="javascript:;">188
                            <em>7221</em>1887</a>
                        <a href="javascript:;">188
                            <em>7221</em>1887</a>
                        <a href="javascript:;">188
                            <em>7221</em>1887</a>
                    </div>
                </li>
                <li>
                    <div class="indexFloor-cell bgGrey">
                        <div class="indexFloor-cell-left">
                            <h3>198幸运号</h3>
                            <small>全国流量不限量</small>
                        </div>
                        <img src="../img/01/pic_poto1.png" class="indexFloor-cell-right">
                    </div>
                    <div class="indexFloor-cell bgGrey">
                        <div class="indexFloor-cell-left">
                            <h3>移动大王卡</h3>
                            <small>1元1天不限量</small>
                        </div>
                        <img src="../img/01/pic_poto2.png" class="indexFloor-cell-right">
                    </div>
                </li>
            </ul>
        </div>
<!--武汉专享-->        
        <div class="indexFloor">
            <header class="indexFloor-title">
                <h2 class="indexFloor-title-s">武汉
                    <br>专享</h2>
            </header>
            <ul class="indexFloor-zx">
                <li>
                    <h3>31元高校流量包</h3>
                    <small>1元1天不限量</small>
                    <p class="prefecture-adv2">
                        <img src="../img/01/pic_poto3.jpg">
                    </p>
                </li>
                <li>
                    <div class="indexFloor-cell bgGrey">
                        <div class="indexFloor-cell-left">
                            <h3>198幸运号</h3>
                            <small>全国流量不限量</small>
                        </div>
                        <img src="../img/01/pic_poto1.png" class="indexFloor-cell-right">
                    </div>
                    <div class="indexFloor-cell bgGrey">
                        <div class="indexFloor-cell-left">
                            <h3>移动大王卡</h3>
                            <small>1元1天不限量</small>
                        </div>
                        <img src="../img/01/pic_poto2.png" class="indexFloor-cell-right">
                    </div>
                </li>
            </ul>
        </div>
        <div class="indexFloor">
            <header class="indexFloor-title">
                <h2 class="grident-g">热机特惠</h2>
            </header>
            <ul class="indexFloor-ph">
                <li>
                    <!-- swiper start -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../img/01/pic_poto4.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../img/01/pic_poto4.jpg" />
                            </div>
                            <div class="swiper-slide">
                                <img src="../img/01/pic_poto4.jpg" />
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- swiper end -->
                </li>
                <li>
                    <a href="javascript:;" class="phone-details">
                        <p class="phone-pic">
                            <img src="../img/01/pic_hotpohone1.jpg">
                        </p>
                        <h4 class="phone-name">Apple iPhone 6s 16G 深空灰色</h4>
                        <p class="phone-price">
                            <span>￥
                                <em>4265</em>
                            </span>
                            <s>￥5200</s>
                        </p>
                    </a>
                </li>
            </ul>
            <dl class="phones">
                <dd>
                    <a href="#">
                        <p class="phones-pic">
                            <img src="../img/01/pic_hotphone2.jpg">
                        </p>
                        <h4 class="phones-name">Apple iPhone 6s 16G 深空灰色</h4>
                        <p class="phones-price">
                            <span>￥
                                <em>4265</em>
                            </span>
                            <s>￥5200</s>
                        </p>
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        <p class="phones-pic">
                            <img src="../img/01/pic_hotpohone3.jpg">
                        </p>
                        <h4 class="phones-name">Apple iPhone 6s 16G 深空灰色</h4>
                        <p class="phones-price">
                            <span>￥
                                <em>4265</em>
                            </span>
                            <s>￥5200</s>
                        </p>
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        <p class="phones-pic">
                            <img src="../img/01/pic_hotpohone4.jpg">
                        </p>
                        <h4 class="phones-name">Apple iPhone 6s 16G 深空灰色</h4>
                        <p class="phones-price">
                            <span>￥
                                <em>4265</em>
                            </span>
                            <s>￥5200</s>
                        </p>
                    </a>
                </dd>
            </dl>

        </div>






        <% include ../block/foot.html %>
            <script>
                var swiper = new Swiper('.swiper-container', {
                    pagination: '.swiper-pagination',
                    paginationClickable: true
                });
            </script>
</body>

</html>