<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
    <meta charset="UTF-8">
    <title>navbar</title>
    <% include ../block/head.html %>
</head>

<body>
    <div class="navbar navbar-default">
        <div class="navbar-left">
            <a href="history.back();" class="icon-return"></a>
        </div>
        <div class="navbar-searchbar">
            <i class="icon-search"></i>
            <a href="javascript:;">20元享20GB流量</a>
        </div>
        <div class="navbar-right">
            <a href="javascript:;" class="icon-more"></a>
        </div>
    </div>
    <div class="gutter"></div>
    <div class="navbar navbar-default">
        <div class="navbar-left">
            <a href="history.back();" class="icon-arrow-left"></a>
        </div>
        <div class="navbar-searchbar">
            <i class="icon-search"></i>
            <a href="javascript:;">20元享20GB流量</a>
        </div>
        <div class="navbar-right">
            <a href="javascript:;" class="icon-more"></a>
        </div>
    </div>
    <div class="gutter"></div>
    <div class="navbar navbar-default">
        <div class="navbar-left">
            <a href="history.back();" class="icon-return"></a>
        </div>
        <h3 class="navbar-title">4G飞享套餐</h3>
        <div class="navbar-right">
            <a href="javascript:;" class="icon-more"></a>
        </div>
    </div>
    <div class="gutter"></div>
    <div class="navbar navbar-default">
        <div class="navbar-left">
            <a href="history.back();" class="icon-arrow-left"></a>
        </div>
        <h3 class="navbar-title">4G飞享套餐</h3>
        <div class="navbar-right">
            <a href="javascript:;" class="icon-more"></a>
        </div>
    </div>
    <div class="gutter"></div>
    <div class="navbar navbar-default">
        <div class="navbar-left">
            <a href="history.back();" class="icon-return"></a>
            <a href="javascript:;" class="icon-close"></a>
        </div>
        <h3 class="navbar-title">支付结果</h3>
        <div class="navbar-right">
            <a href="javascript:;" class="icon-more"></a>
        </div>
    </div>
    <div class="gutter"></div>
    <div class="navbar navbar-default">
        <div class="navbar-left">
            <a href="history.back();" class="icon-arrow-left"></a>
            <a href="javascript:;" class="icon-close"></a>
        </div>
        <h3 class="navbar-title">支付结果</h3>
        <div class="navbar-right">
            <a href="javascript:;" class="icon-more"></a>
        </div>
    </div>
    <div class="gutter"></div>
    <!-- 我的导航start -->
    <div class="navbar navbar-primary">
        <div class="navbar-left">
            <div class="avatar -small">
                <img src="../img/avatar.jpg">
            </div>
            <div class="user-info">15002735378</div>
        </div>
        <div class="navbar-right">
            <a href="javascript:;" class="icon-setting"></a>
            <a href="javascript:;" class="icon-more"></a>
        </div>
    </div>
    <!-- 我的导航end -->
    <div class="gutter"></div>
    <!-- 首页导航start -->
    <div class="navbar navbar-transparent">
        <div class="navbar-left">
            <div class="navbar-select">
                <span>湖北</span>
                <i class="icon-triangle-down"></i>
            </div>
        </div>
        <div class="navbar-searchbar">
            <i class="icon-search"></i>
            <a href="javascript:;">20元享20GB流量</a>
        </div>
        <div class="navbar-right">
            <a href="javascript:;">登录</a>
        </div>
    </div>
    <!-- 首页导航end -->

    <% include ../block/foot.html %>
</body>

</html>