<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
	<meta charset="UTF-8">
	<title>tabbar</title>
	<% include ../block/head.html %>
</head>

<body>
	<ul class="tabbar tabbar-default">
		<li class="tabbar-item active">
			<a href="javascript:;">商品介绍</a>
		</li>
		<li class="tabbar-item">
			<a href="javascript:;">温馨提示</a>
		</li>
	</ul>
	<div class="gutter"></div>
	<ul class="tabbar tabbar-default">
		<li class="tabbar-item active">
			<a href="javascript:;">业务介绍</a>
		</li>
		<li class="tabbar-item">
			<a href="javascript:;">生效规则</a>
		</li>
		<li class="tabbar-item">
			<a href="javascript:;">短信方式</a>
		</li>
	</ul>
	<div class="gutter"></div>
	<ul class="tabbar tabbar-default">
		<li class="tabbar-item active">
			<a href="javascript:;">业务介绍</a>
		</li>
		<li class="tabbar-item">
			<a href="javascript:;">生效规则</a>
		</li>
		<li class="tabbar-item">
			<a href="javascript:;">短信方式</a>
		</li>
		<li class="tabbar-item">
			<a href="javascript:;">温馨提示</a>
		</li>
	</ul>
	<div class="gutter"></div>

	<div class="navbar navbar-default">
		<div class="navbar-left">
			<a href="javascript:;" class="icon-return"></a>
		</div>
		<ul class="tabbar tabbar-primary">
			<li class="tabbar-item active">
				<a href="javascript:;">合约机</a>
			</li>
			<li class="tabbar-item">
				<a href="javascript:;">裸机</a>
			</li>
		</ul>
	</div>
	<% include ../block/foot.html %>
</body>

</html>